<div class="logo">
<%= image_tag('icon.png', :alt => 'Logo') %>
<h1>Dictionary.app</h1>
</div>

<div class="process">
	<%= form_for @translation, remote: true do |f| %>
		<div class='step selectLang'>
			<h3>Choose languages</h3>
			<%= f.select :from_lang, @languages_hash %> — 
			<%= f.select :to_lang, @languages_hash, :selected => @languages_hash[:polish] %>
		</div>

		<div class='step typePhrase'>
			<h3>Type your phrase</h3>
			<%= f.text_field :initial_phrase%> <br>
			<%= f.submit "Translate!" %>
		</div>

		<div class='step getResult'>
			<h3>Get the result</h3>
			<%#= f.text_field :translated_word, disabled: true %>
			<span id="result">...you haven't typed your phrase yet...</span>
		</div>

	<% end %>
</div>

<div class="previous">
	<h3>Last translations</h3>
	<div id="translations">
		<%= render @translations %>	
	</div>
</div>


